#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: #355270;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(29, 29, 29), 10px 10px 15px rgb(56, 56, 56);
}
body {
    background-color: rgb(213, 187, 139);
    color: rgb(199, 199, 199);
}
